* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;

}

.container-main {
    display: grid;
    /* row/column */
    grid-template: repeat(8, 1fr) / repeat(4, 1fr);


}

.dashboard {
    grid-row: 1/8;
    grid-column: 1/2;
    background-color: rgb(56, 112, 216);
    color: white;
    font-size: 2.5rem;
    display: grid;
    grid-template-rows: 1fr 10fr;
    padding: 1em;
    gap: 1em;

}

h1 {
    font-size: larger;
}

.dashboard ul {
    grid-row: 2/9;
}

ul,
li {
    list-style: none;
}

.header {
    grid-column: 2/5;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    z-index: 1;

}

#search-input {
    width: 40em;
    height: 2.3em;
    border-radius: 15px;
    border: none;
    background-color: #e0e2ec;
    text-indent: 1em;
}

.search-pannel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1.5em;
}

.item {
    display: flex;
    align-items: center;
    gap: 3em;
}

.search-pannel-svg {
    width: 2em;
    height: 2em;
}

.search-pannel-info {
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.search-pannel-info button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3498db;
    /* Border color */
    border-radius: 15px;
    /* Rounded corners */
    color: #3498db;
    /* Text color */
    background-color: #fff;
    /* Background color */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    /* Smooth transitions */
}

.search-pannel-info button:hover {
    background-color: #3498db;
    /* Hover background color */
    color: #fff;
    /* Hover text color */
    border-color: #fff;
    /* Hover border color */
}

.avatar {
    height: 5em;
    width: 5em;
    object-fit: cover;

}

.avatar-container {
    border: 2px solid #000;
    border-radius: 50%;
    overflow: hidden;
    height: 3em;
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}




.content {
    grid-column: 2/5;
    grid-row: 2/8;
    display: grid;
    grid-template-columns: repeat(2, 1.5fr) 1fr;
    background-color: #e0e2ec;
}

.project-grid {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 2em;
    margin: 1em;
}

.project-grid-item {
    background-color: white;
    width: 25em;
    height: 13em;
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-left: 1em solid #FF8900;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
    padding: 1em;
}

.project-grid-item p {
    color: #666;

}


.project-grid-item-svg-block {
    margin-left: 15em;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 2em;
}

.project-grid-item-svg-block img {
    width: 1.5em;
    height: 1.5em;
}

.rest .projects {
    margin: 1em;
}

.rest-block {
    background-color: white;
    width: 25em;
    height: 20em;
    margin: 1em;
    border-radius: 15px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    /* border-left: 1em solid #FF8900; */
}

.title-txt {
    font-size: 22px;
    margin: 0.8em;
    margin-top: 1.5em;
    font-weight: 600;
}


hr{
    margin: 1em;
    background-color: #a3a0a0;
    border: 1px solid;
    
}

.rest-block{
padding: 1em;

}
div > b + br +p{
    color: #535050;
}

